.menu{
  display: flex;
}
.foodItem{
  display: flex;
  flex-direction: column;
}
.foodItem .header{
  display: flex;
  flex-direction: row;
}
.name1{
  position: absolute;
  left: 25px;
  top: 10px; 
  display: flex;
  border: 2px solid purple;
  font-weight: italic;
  background: #006400;
  color: #F0FFF0;
  flex: 3;
  padding: 1em;
  z-index: -1;
}
.name2{
  position: absolute;
  left: 150px;
  top: 50px; 
  display: flex;
  border: 2px solid purple;
  font-weight: italic;
  background: #006400;
  color: #F0FFF0;
  flex: 3;
  padding: 1em;
  z-index: -1;
}
.name3{
  position: absolute;
  left: 150px;
  top: 50px; 
  display: flex;
  border: 2px solid purple;
  font-weight: italic;
  background: #006400;
  color: #F0FFF0;
  flex: 3;
  padding: 1em;
  z-index: -1;
}
.cost{
  display: flex;
  font-weight: italic;
  border: 2px solid purple;
  background:#000080;
  color:#F0FFF0;
  flex: 2;
}
.ingredients{
  display: flex;
  margin: 4px;
  padding: 0px;
  border: 2px solid purple;
  border-style: dashed;
  flex-direction:column;
}
.ingredients:before{
  content: "Ingredients";
  font-weight: bold;
  background: #006400;
  color: #FFFFFF;
}
.ingredient, .ingredients:before{
  flex: 1;
  padding: 1em;
}
.button{
  display: flex 1;
}